@{
  Layout = "_Layout";
}

@using System.Security.Claims

<div class="container my-4">
    <h2 class="text-center">Authentication with Identity</h2>
    <hr />
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row justify-content-center">
            @if (User.Identity.IsAuthenticated)
            {
                <p>Hello @User.Identity.Name!</p>
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" class="btn btn-outline-warning btn-rounded" value="Log out" />
                }
            }
            else
            {
                <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Register", "Register")</p>
                <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Log in", "Login")</p>
            }
        </div>
    </div>
</div>