@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
} 
else
{
  <h3>No recipes match this search!</h3>
}

<p class="fancyBtn">@Html.ActionLink("Home", "Index", "Home", "Recipes")</p>
<p class="fancyBtn">@Html.ActionLink("Add a Recipe", "Create", "Recipes")</p>