@{
  Layout = "_Layout";
}

@using Pierre.Models;

<div class="container my-4">
  <h1 class="text-center">A list of all flavors and their treats!</h1>
  <hr />
  <div class="d-flex flex-column align-items-center my-4">
    <div class="d-flex flex-column align-items-start">    
      @if (@Model.Count == 0)
      {
        <h3>No flavors or treats have been added yet.</h3>
      }
      else
      {
        Dictionary<string, List<string>> dic = new Dictionary<string, List<string>> ();
        foreach (FlavorTreat flavortreat in Model)
        {
          string flavorName = flavortreat.Flavor.Name;
          string treatName = flavortreat.Treat.Name;
          if (dic.ContainsKey(flavorName))
          {
            dic[flavorName].Add(treatName);
          }
          else
          {
            List<string> treatList = new List<string>();
            treatList.Add(treatName);
            dic.Add(flavorName, treatList);
          }
        }

        foreach (KeyValuePair<string, List<string>> kvp in dic)
        {
          <p><strong>@kvp.Key</strong></p>
          <ol>
          @foreach (string name in kvp.Value)
          {
            <li>@name</li>
          }
          </ol>
        }
      }
    </div>
  </div>
  <hr />
</div>