@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model List<Pierre.Models.Treat>;
<div class="container my-4">
  <div class="d-flex flex-column align-items-center my-4">
  <h1 class="text-center">Search Treats</h1>
  <hr />
<div class="d-flex flex-row justify-content-center">
<form action="/Treats/ShowSearch" method="post"> 
  <input name="searchPhrase" id="searchPhrase" type="text">
  <input type="submit" value="Search" class="btn btn-outline-warning btn-rounded" /> 
</form>
</div>
</div>
</div>