@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model List<Pierre.Models.Treat>;

<form action="/Treats/ShowSearch" method="post"> 
  <label for="searchPhrase">Search Phrase</label>
  <input name="searchPhrase" id="searchPhrase" type="text">
  <button type="submit">Search!</button>
</form>