@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model List<Pierre.Models.Treat>;
<div class="container my-4">
<form action="/Treats/ShowSearch" method="post"> 
  <label for="searchPhrase">Search Phrase</label>
  <input name="searchPhrase" id="searchPhrase" type="text">
  <p class="btn btn-outline-warning btn-rounded">Search</p>
</form>
</div>