@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Recipe>;

<form action="/Recipes/ShowSearch" method="post"> 
  <label for="searchPhrase">Search Phrase</label>
  <input name="searchPhrase" id="searchPhrase" type="text">
  <button type="submit">Search!</button>
</form>