@{
  Layout = "_Layout";
}

@using Pierre.Models;
@model List<Pierre.Models.Flavor>;

<div class="container my-4">
  <h1 class="text-center my-4">Flavors</h1>
  <hr />

  <div class="d-flex flex-column align-items-center my-4">
    <div class="d-flex flex-column align-items-start">
      @if (@Model.Count == 0)
      {
        <h3>No Flavors have been added yet!</h3>
      } 


        @foreach (Flavor flavor in Model)
        {
          <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })
        </li>
        }
    </div>
    <div class="d-flex flex-column justify-content-center my-4">
      <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Add Flavor", "Create", "Flavors")</p> 
      <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Home", "Index", "Home")</p>
    </div>
  </div>
</div>
